@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "download.scss";
@import "features.scss";
@import "cta.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

.btn-primary {
  color: white;
  border: 1px solid;
  border-color: white;
  background: #dc2430;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #dc2430;
    border-color: #dc2430;
    background: white;
  }
}

.bg-other {
  background: $theme-other;
  background: -webkit-linear-gradient($theme-other, darken($theme-other, 5%));
  background: linear-gradient($theme-other, darken($theme-other, 5%));
}

.about-social {
  i {
    color: black;
  }
}
.about-social:hover {
  i {
    color: white;
  }
  transition: .35s;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 48px;
  }
  header.masthead {
    .header-content {
      h1 {
        font-size: 60px;
      }
    }
  }

  section {
    padding: 50px 0;
    h2 {
      font-size: 48px;
    }
  }
  section.download {
    h2 {
      font-size: 48px;
    }
  }

  section.features {
    .feature-item {
      padding: 28px 0;
    }
  }
}

@media (max-width: 476px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }

  header.masthead {
    .header-content {
      margin-bottom: 24px;
    }
  }

  section {
    padding: 24px 0;
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 26px;
    }
  }

  section.download {
    padding: 24px 0;
  }

  section.features {
    .section-heading {
      margin-bottom: 20px;
    }
    .feature-item {
      padding: 24px 0;
      h3 {
        font-size: 18px;
      }
      i {
        font-size: 40px;
      }
    }
  }

}
